<!DOCTYPE html>
<html>
    <head>
        <title>Express JS with Handlebars</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        {{{ body }}}
    </body>
</html>